<header class="navbar app-topbar">
	<div class="navbar-left">
		<div class="navbar-meta">
			<h3 class="navbar-title">Dashboard</h3>
		</div>
	</div>
	<div class="navbar-right">
		<div class="navbar-search search-wrap">
			<span class="search-icon">Q</span>
			<input class="input" type="text" value="Search" />
		</div>
		<button class="navbar-user" aria-label="Open profile menu">
			<span class="navbar-user-avatar">TT</span>
			<span class="navbar-user-meta">
				<span class="navbar-user-name">Taki Tahmid</span>
			</span>
		</button>
	</div>
</header>
